UNDERSTORY_SITE_URL="http://localhost:4321"
UNDERSTORY_SITE_TITLE="understory"
UNDERSTORY_SITE_DESCRIPTION="My opinionated Astro starter. Pre-configured with the packages I reach for on every project."
